<h2>About</h2>

<!-- # template reference -->

<!-- # template reference variable -->
<ng-template #notShown>
  <p>List is not shown</p>
</ng-template>

<input   #memberName />

<p #p1 > </p>

<button (click)="p1.textContent = memberName.value">
  Set Name
</button>

<button (click)="empty()">
  Empty
</button>

<button (click)="addMember(memberName.value)">
   Add
</button>

<button (click)="show = !show">
  {{show? "Hide" : "Show"}}
</button>

<!-- ng 4.0, else -->

<div  [ngClass]="{highlight: isMouseOver}" 
      *ngIf="show else notShown"
      (mouseenter)="isMouseOver = true"
      (mouseleave)="isMouseOver = false"
      
      >
  <ul>
    <li *ngFor="let member of members">
        {{member}}
    </li>
  </ul>
</div>


<p> About Likes {{aboutLikes}}></p>
<app-like [(likes)]="aboutLikes">
  
</app-like>